<!DOCTYPE html>
<html lang="en">

    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/AddAppIcon.css">
        <style>
            body {
                background-color: #303641;
            }
            /* #my-input{
                visibility: hidden;
            }  */
        </style>

    </head>

    <body>
        <div id="container-addapp">
            <div id="title">
                <i class="material-icons lock">apps</i> Add App Icon
            </div>

    
            <form method="post" action="/main/App/addImg" enctype="multipart/form-data">
                <label>photo</label>
                <input name="image" type="file" accept="image/*">

                <button type="submit">다음</button>
            </form>

        
        </div>

         
    </body>
 </html>
