<html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/AddExplain.css">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<body>
<div id="container-addapp">
    <div id="title">
        <i class="material-icons lock">apps</i> Add App Explain
    </div>

    <form>
        <div class="input">
            <input name="appName" placeholder="App Name" type="text">
        </div>

        <div class="input">
            <input name="appURL" placeholder="Download URL" type="text">
        </div>

        <div class="explain">
            <textarea name = "appExp" placeholder="           App Explain"></textarea>
        </div>

        <div class="input">
            <select name="job">
                <option value="none" selected>Job Select</option>
                <option value="student">학생</option>
                <option value="officeworker">경영, 사무</option>
                <option value="it">IT, 인터넷</option>
                <option value="marketer">마케팅, 광고홍보</option>
                <option value="designer">디자인</option>
                <option value="service">아르바이트</option>
                <option value="edu">교육</option>
                <option value="medical">의료</option>
            </select>
            </input>
        </div>

        <input type="hidden" name="imgPath" th:value="${filepath}"/>

        <input type="submit" value="submit">
    </form>

</div>

</body>

</html>