<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="/job.css" />

    <title>JobApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <title>JobApp</title>
</head>
<body>
<th:block th:each="apps : ${app}">
    <div class="container">

        <div class="row">
            <div class="col-md-3">
                <img style="width:250px; height:250px; object-fit:cover;" th:src="@{/print/} + ${apps.imgName}">
            </div>
            <div class="col-md-8">
                <table>

                    <tr>
                        <th>Job</th>
                        <td th:text="${apps.job}"></td>
                    </tr>
                    <tr>
                        <th>appName</th>
                        <td th:text="${apps.appName}"></td>
                    </tr>
                    <tr>
                        <th>AppURL</th>
                        <td th:text="${apps.appURL}"></td>
                    </tr>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="row">
            <div class="col-md-1">
                <br>
                <form th:action="@{/main/App/likes/}+${apps.rid}" method="post">
                    <input class="btn btn-default" type="submit" th:value="${apps.count}">
                </form>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-11">
        </div>
        <div class="col-md-1">
            <input class="btn btn-default" type="submit" value="add">
            <br>
        </div>
    </div>

    </div>
</th:block>
</body>

</html>