<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>JobApp</title>
    <link rel="stylesheet" type="text/css" href="./css/job.css" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img src="#">
        </div>
        <div class="col-md-8">
            <br>
            <p>어플 이름</p>
            <p>어플 정보</p>
            <p>url</p>
        </div>
        <div class="col-md-1">
            <br>
            <input class="btn btn-default" type="submit" value="like">
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <img src="#">
        </div>
        <div class="col-md-8">
            <br>
            <p>어플 이름</p>
            <p>어플 정보</p>
            <p>url</p>
        </div>
        <div class="col-md-1">
            <br>
            <input class="btn btn-default" type="submit" value="like">
        </div>


    </div>
    <div class="row">
        <div class="col-md-11">

        </div>
        <div class="col-md-1">
            <input class="btn btn-default" type="submit" value="add">
            <br>
        </div>
    </div>

</div>

<aside>

</aside>

<section>

</section>

<footer>

</footer>
</body>

</html>