<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AppJob</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
        <header align=center>
            <h1>
                <a href="main.html">JobApp</a>
            </h1>
            <div class="member">
                <a href="">회원정보</a>
                <a href="">직업</a>
            </div>
        </header>
        <nav>

        <div class="search">
            <input type="text" placeholder="직업을 입력하세요.">
            <button type="submit">검색</button>
        </div>
        </nav>

    <aside id="left">
        <h4>카테고리</h4>
        <ul>
            <li><a target="iframe1" href="">학생</a></li>
            <li><a target="iframe1" href="">경영, 사무</a></li>
            <li><a target="iframe1" href="">IT, 인터넷</a></li>
            <li><a target="iframe1" href="">마케팅, 광고 홍보</a></li>
            <li><a target="iframe1" href="">디자인</a></li>
            <li><a target="iframe1" href="">서비스</a></li>
            <li><a target="iframe1" href="">교육</a></li>
            <li><a target="iframe1" href="">의료</a></li>
        </ul>
    </aside>
    <section id="main">
        <article id="article1">
            <iframe name="iframe1" src="" width="1000px" height="700px" seamless></iframe>
        </article>
    </section>

    <footer>

    </footer>
</body>

</html>