<html>

<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        body {
            background-color: #303641;
        }
    </style>
</head>

<body>
<div id="container-signin">
    <div id="title">
        <i class="material-icons lock">lock</i> Sign In
    </div>

    <form action="/signin/signpro" method="post">
        <div class="input">
            <div class="input-addon">
                <i class="material-icons">person</i>
            </div>
            <input name="userId" placeholder="Id" type="text" >
        </div>

        <div class="clearfix"></div>

        <div class="input">
            <div class="input-addon">
                <i class="material-icons">vpn_key</i>
            </div>
            <input name="userPw" placeholder="Password" type="password" >
        </div>


        <div class ="input">
            <div class="input-addon">
                <i class="material-icons">face</i>
            </div>
            <input name="userName" placeholder="Name" type = "text" >
        </div>

        <div class="input">
            <div>
            <select name="userJob">
                <option value="none" selected>Select Job</option>
                <option value="student">학생</option>
                <option value="job1">job1</option>
                <option value="job2">job2</option>
                <option value="job3">job3</option></select>
            </div>
        </div>

        <div>
            <input type="submit" value="Sign In">
        </div>

    </form>


</div>
</body>

</html>
